<img src="/static/images/keymemory_header.gif" alt="" style="margin:5px 20px 5px 0;"><p style="float:right; padding:20px 20px 0 0;">アニメキャラクター コーディネートチェック ブログ</p>
<div class="pc">
  <ul id="nav_lists">
    <li><a href="/">HOME</a></li>
    <li><a href="/blog/list">Back Number</a></li>
  </ul>
</div>
