<p>プロフィール</p>
<div class="box">
  <p class="t_center">IPPEI</p>
  <p class="t_center">
  神戸生まれ東京育ち<br>
  大学卒業後、百貨店に就職し、<br>
  紳士、婦人バイヤーを経験後<br>
  ファッションコーディネーターの職に就く。重度のアニメオタク。
  </p>
</div>
<br>
<br>
<br>
<br>
ツイッター
  <!--div id="twitter">
    <a class="twitter-timeline" href="https://twitter.com/KEYMEMORYinfo">Tweets by KeyMemory</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div-->
</div>
