<ul id="ranking_block" style="margin:0; padding: 0;">
  <p>ランキング</p>
  <section class="content-gallery scroll-bar">
      <a href="/blog/show">
        <section class="content-gallery-card">
          <!--img src="/static/images/" width="100%"-->
          <b>テストについて</b><br>
          これはテストの記事です
        </section>
      </a>
  </section>
  <a class="article_list_a" href="/blog/show/">
    <div class="article_list border mb10">
      <div class="left">
        <!--img src="/static/images/"-->
      </div>
      <div class="right">
        <p class="name">テストについて</p>
        <p class="sentence">これはテストの記事です</p>
      </div>
    </div>
  </a>
</ul>
