// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
}
.center_block{
  display: block;
  margin: auto;
}
h1.title{
  margin: 5px 5px 15px 2%;
  padding: 0 0 10px 0;
}
.play_view{
  text-align: right;
  font-size: 30px;
  margin: 10px 15px 20px 15px;
  color: gray;
}
#blog_sentence{
  width: 95%;
  display: block;
  margin: 20px auto;
  font-size: 17px;
}
.content{
  background-color: white;
  display: block;
}
#right_content{
  background-color: white;
}
#sns_box{
  width:8%;
  padding: 5px 5px;
  position: fixed;
  bottom: 40px;
}
.sns_block{
  display: block;
  width:80%;
  height: 60px;
  margin: 20px auto 20px auto;
}
#side_bar{
  padding: 0;
  position: relative;
}
a.article_list_a{
  &:hover{
    background-color: #ddd;
    display:block;
  }
  .article_list{
    padding: 15px 15px;
    .left{
      display: inline-block;
      vertical-align: top;
      width:20%;
      img{
        width:100%;
      }
    }
    .right{
      display: inline-block;
      vertical-align: top;
      margin-left: 1%;
      width:75%;
      .name{
        font-size: 20px;
      }
      .sentence{
      }
    }
  }
}
//index
#header{
  margin: 0;
  padding: 0;
  #nav_lists{
    width: 100%;
    padding: 0 50px;
    background-color: #666;
    li{
      list-style: none;
      display: inline-block;
      height: 30px;
      a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        height: 100%;
        display: block;
        padding: 0 20px;
        line-height: 30px;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}
.content-gallery {
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  padding: 20px 0;
  overflow-x: scroll;
  margin: 0 0 20px 0;
  a{
    &:hover{
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
.content-gallery .content-gallery-card {
  max-width: 280px;
  min-width: 280px;
  margin: 0 10px;
  padding: 10px;
  background-color: #FFF;
}
#top_block{
  img{
    width: 70%;
  }
}
//汎用的
.box{
  padding: 10px;
  margin-bottom: 10px;
}
.border{
}
.block_center{
  display: block;
  margin: auto;
}
.t_center{
  text-align:center;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.sp{
  display: none;
}
.pc{
  display: block;
}
@media screen and (max-width: 768px){
  h1.title{
    font-size: 25px;
  }
  #blog_sentence{
    font-size: 15px;
  }
  a.article_list_a{
    &:hover{
      background-color: #ddd;
      display:block;
    }
    .article_list{
      padding: 15px 15px;
      .left{
        display: inline-block;
        vertical-align: top;
        width:100%;
        img{
          width:80%;
          margin:auto;
          display: block;
          margin-bottom:10px;
        }
      }
      .right{
        display: inline-block;
        vertical-align: top;
        margin-left: 1%;
        width:100%;
        .name{
          font-size: 20px;
        }
        .sentence{
        }
      }
    }
  }
  #top_block{
    img{
      width: 100%;
    }
  }
  .sp{
    display: block;
  }
  .pc{
    display: none;
  }
}

