<!DOCTYPE html>
<html lang="ja">
<head>
  <title>管理者画面 | Oiwai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div id="wrap">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>

